<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Dashboard">
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
  <title>Dashio - Bootstrap Admin Template</title>

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Bootstrap core CSS -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!--external css-->
  <link href="lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet">
  <link href="css/style-responsive.css" rel="stylesheet">
  
  <!-- =======================================================
    Template Name: Dashio
    Template URL: https://templatemag.com/dashio-bootstrap-admin-template/
    Author: TemplateMag.com
    License: https://templatemag.com/license/
  ======================================================= -->
</head>

<body>
  <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
  <div id="login-page">
    <div class="container">
      <form class="form-login" method="POST" id="patch-form" >
        <h2 class="form-login-heading">ADD Groupe :</h2>
        <div class="login-wrap">
          <input type="text" class="form-control" name="nom" placeholder="nom" id="groupeNom"  autofocus>
          <br>
          <select type="text" class="form-control" id="users" autofocus>
            <option value="" disabled selected>Select user ...</option>
          </select>
          

          <br>
          <button class="btn btn-theme btn-block"  type="submit"><i class="fa fa-lock"></i> Change</button>
          </div>
          </form>
          </div>
          </div>

        
  <!-- js placed at the end of the document so the pages load faster -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.min.js"></script>
  <!--BACKSTRETCH-->
  <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
  <script type="text/javascript" src="lib/jquery.backstretch.min.js"></script>
  <script>
  const token = JSON.parse(sessionStorage.getItem("user")).token
  
  $("#patch-form").on("submit",function(e){
      e.preventDefault()
      const groupeNom = document.getElementById("groupeNom").value
      const user = document.getElementById("users").value
       $.ajax({
       type:"POST",
       url:`http://localhost:3000/api/v1/groupes`,
       data:{
         nom:groupeNom,
         
       },
       dataType:'json',
       beforeSend:function(xhr){
              xhr.setRequestHeader("Authorization", "Bearer "+token);
       },
       success:function(data){
         $.ajax({
       type:"POST",
       url:`http://localhost:3000/api/v1/groupes/${data.groupe._id}/user/${user}`,

       dataType:'json',
       beforeSend:function(xhr){
              xhr.setRequestHeader("Authorization", "Bearer "+token);
       },
       success:function(data){
         
          
       }
})
          location.replace('http://localhost:3000/groupeList')
       }
})
  })     
  
  </script>
  <script>
    let selectUser = document.getElementById("users")
      $.ajax({
       type:"GET",
       url:`http://localhost:3000/api/v1/users`,
       dataType:'json',
       beforeSend:function(xhr){
              xhr.setRequestHeader("Authorization", "Bearer "+token);
       },
       success:function(data){
         console.log(data)
          data.data.users.forEach(user => {
            selectUser.innerHTML+= "<option value='"+user._id +"' >"+user.nom+user.prenom+"</option>"
          });
       }
})
  </script>
</body>

</html>
