<!DOCTYPE html>
<html lang="en">
<head>
       <meta charset="UTF-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <title>Add Task</title>
       <style>
              * {
  box-sizing: border-box;
}

/* 1- positionning the 2 divs */
form {
	display: flex;
}
form > div {
	flex: 1;
	min-width: 0; /* fix for min-width: auto */
}
form > div + div {
	margin-left: 1em;
}

/* 2- fluid inputs */
div > p {
	display: flex;
}
form input:not([type=submit]) {
	flex: 1; /* fluid width */
	display: block; /* IE fix */
	min-width: 0; /* fix for min-width: auto */
}

/* 3- fluid textarea */
div + div {
	display: flex;
	flex-direction: column;
}
textarea {
	flex: 1; /* fluid height */
	display: block; /* IE fix */
}


/* Decoration */

body {
	max-width: 1000px;
	margin: auto;
	padding: 1em;
	background:rgba(0,0,0,.1);
	color: #333;
	font-size: 1.4em;
	font-family: georgia, "trebuchet ms", arial, serif;
}

h1 {
	margin-top: 20px;
	margin-bottom: 40px;
	color: #345;
	text-shadow: 1px 1px 1px #fff;
}
form > div {
	padding: 1em;
	background: #fff;
	border: 1px solid gray;
	border-radius: 4px;
}
input,
textarea {
	padding: .3em;
	border: 1px solid #555;
	border-radius: 4px;
	font-family: inherit;
	font-size: inherit;
  background: rgba(0,0,0,.02);
}
input:focus,
textarea:focus {
	outline: none;
}
input[type="submit"] {
	padding: .3em 1em;
	background: #555;
	border: none;
	color: #fff;   
	border-radius: 4px;
	cursor: pointer;
}
label {
	width: 5em;
	margin-right: .5em;
	text-align: right;
}
input[type="submit"] {
	margin-left: auto;
}
div:first-child p:first-child {
	justify-content: flex-end;
}
textarea {
	resize: vertical;
	color: #aaa;
}
div > p:first-child {margin-top: 0;}
div > p:last-child {margin-bottom: 0;}
small {
	font-size: 0.8rem;
	color: #aaa;
}

/* small screens */
@media (max-width: 600px) {
	form {
		flex-direction: column;
	}
	form p {
		display: block;
	}
	label {
		display: block;
		width: auto;
		text-align: left;
	}
	form > div {
		width: auto;
	}
	form > div + div {
		margin-left: 0;
		margin-bottom: 1em;
		order: -1;
	}
	input {
		width : 100%
	}
}

       </style>
</head>
<body>
       <h1>Add Task</h1>

<form id="my_form" >
		<div>
				<p>ADD TASK :</p>
				<p>
						<label for="name">Nom : </label>
						<input type="text" id="name" autofocus>
				</p>

				<p>
						<label for="deadline">deadline: </label>
						<input type="date" id="deadline">
				</p>


				<p>
						<label for="deadline" id="labelUser">User: </label>
						<select name="" id="userList" onchange="deleteListGroupe()" >
							<option value="" disabled selected>Select your option</option>
						</select>
						<label id="labelGroupe" for="deadline">Groupe: </label>
						<select name="" id="groupeList" onchange="deleteListUser()" >
							<option value="" disabled selected>Select your option</option>
						</select>
				</p>
				<p>
						<input type="submit" value="Envoyer">
				</p>

		</div>
		<div>
				<p>Description Du Tache ?</p>
				<textarea name="" id="description" cols="10" rows="5" placeholder="write something useful here !!"></textarea>
		</div>
</form>
</body>
 <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.min.js"></script>
  <!--BACKSTRETCH-->
  <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
  <script type="text/javascript" src="lib/jquery.backstretch.min.js"></script>
  <script>
         const token = JSON.parse(sessionStorage.getItem("user")).token;
       
$("#my_form").on("submit",function(e){
       e.preventDefault()
         const taskName = document.getElementById("name").value
         const deadline = document.getElementById("deadline").value
         const description = document.getElementById("description").value
	  const userList = document.getElementById("userList").value
	  const groupeList = document.getElementById("groupeList").value
	  if(groupeList ==""){
		   $.ajax({
              type:"POST",
              url:"http://localhost:3000/api/v1/taches",
              data:{
                     nom:taskName,
                     description:description,
                     deadline:deadline,
			user:{
				_id:userList
			}
              },
              dataType:"json",
              beforeSend:function(xhr){
                     xhr.setRequestHeader("Authorization", "Bearer "+token);
              },
              success:function(data){
                     location.replace("http://localhost:3000/dashboard")
              },
              error:function(err){
                    console.log(err)
              }
              
       })

	  }
	  if(userList ==""){
		   $.ajax({
              type:"POST",
              url:"http://localhost:3000/api/v1/taches",
              data:{
                     nom:taskName,
                     description:description,
                     deadline:deadline,
			groupe:{
				_id:groupeList
			}
              },
              dataType:"json",
              beforeSend:function(xhr){
                     xhr.setRequestHeader("Authorization", "Bearer "+token);
              },
              success:function(data){
                     location.replace("http://localhost:3000/dashboard")
              },
              error:function(err){
                    console.log(err)
              }
              
       })

	  }
	})
       
      
  </script>
  <script>
	  let userListHtml=document.getElementById("userList")
	  $.ajax({
		 type:"GET",
		 url:"http://localhost:3000/api/v1/users",
		 beforeSend:function(xhr){
                     xhr.setRequestHeader("Authorization", "Bearer "+token);
              },
              success:function(data){
			console.log(data)
			data.data.users.forEach(user => {
				userListHtml.innerHTML+="<option value='"+user._id+"'>"+user.nom+" "+user.prenom +"</option>"
			});
			
              },
	  })
  </script>
  <script>
	  let groupeListHtml = document.getElementById("groupeList")
	  $.ajax({
		 type:"GET",
		 url:"http://localhost:3000/api/v1/groupes",
		 beforeSend:function(xhr){
                     xhr.setRequestHeader("Authorization", "Bearer "+token);
              },
              success:function(data){
			console.log(data)
			 data.groupes.forEach(groupe => {
			 	groupeListHtml.innerHTML+="<option value='"+groupe._id+"'>"+groupe.nom+"</option>"
			 });
			
              },
	  })
  </script>
  <script>
	 function deleteListGroupe(){
		 if( document.getElementById("groupeList").getAttribute("hidden")=="true"&& document.getElementById("labelGroupe").innerHTML=="")
		 {document.getElementById("groupeList").setAttribute("hidden","false")
		 document.getElementById("labelGroupe").innerHTML="Groupe"
		}else{
		document.getElementById("groupeList").setAttribute("hidden","true")
		 document.getElementById("labelGroupe").innerHTML=""
		}
	 }
	 function deleteListUser(){
		 if( document.getElementById("userList").getAttribute("hidden")=="true"&& document.getElementById("labelUser").innerHTML=="")
		 {document.getElementById("userList").setAttribute("hidden","false")
		 document.getElementById("labelUser").innerHTML="Groupe"
		}else{
		document.getElementById("userList").setAttribute("hidden","true")
		 document.getElementById("labelUser").innerHTML=""
		}
	 }
  </script>
</html>